#aristonet-projects{
    
}
#aristonet-projects .project-header{
    background: greenyellow;
}
#aristonet-projects .project-header .title{
    color: blueviolet;
}
#aristonet-projects .project-header .subtitle{
    background-color: antiquewhite;
}
#aristonet-projects .work-list{
    
}
#aristonet-projects .work-list .list-item{
    margin-bottom:50px;
}
#aristonet-projects .work-list .list-item .project-featured-image{
    
}
#aristonet-projects .work-list .list-item .project-title{
    color: blue;
}
    
#aristonet-projects .work-list .list-item .excerpt-list{
    
}
#aristonet-projects .work-list .list-item{
    
}
#aristonet-projects .work-list .list-item{
    
}
#aristonet-projects .work-list .list-item{
    
}
